
/* START d3.parsets.css from http://www.jasondavies.com/parallel-sets/d3.parsets.css */

.dimension { cursor: ns-resize; }
.category { cursor: ew-resize; }
.dimension tspan.name {
  font-size: 1.2rem;
  fill: #333;
  font-family: 'Zilla Slab', serif;
  font-weight: 700;
}
.dimension tspan.sort { fill: #000; cursor: pointer; opacity: 0; font-size: 0.875rem}
.dimension tspan.sort:hover { fill: #333; }
.dimension:hover tspan.name { fill: #000; }
.dimension:hover tspan.sort { opacity: 1; }
.dimension line { stroke: #000; }
.dimension rect { stroke: none; fill-opacity: 0; }
.dimension > rect, .category-background { fill: #fff; }
.dimension > rect { display: none; }
.category:hover rect { fill-opacity: .3; }
.dimension:hover > rect { fill-opacity: .3; }
.ribbon path { stroke-opacity: 0; fill-opacity: .3; }
.ribbon path.active { fill-opacity: 1; }
.ribbon-mouse path { fill-opacity: 0; }

.category-1 { fill: #6dd8af; stroke: #6dd8af; }
.category-0 { fill: #5fa1f4; stroke: #5fa1f4; }
.category-2 { fill: #ff5c72; stroke: #ff5c72; }
.category-3 { fill: #6dd8af; stroke: #6dd8af; }
.category-4 { fill: #6e008b; stroke: #6e008b; }
.category-5 { fill: #005e5e; stroke: #005e5e; }
.category-6 { fill: #00458b; stroke: #00458b; }
.category-7 { fill: #51e1f5; stroke: #51e1f5; }
.category-8 { fill: #959595; stroke: #959595; }
.category-9 { fill: #e7e5e2; stroke: #e7e5e2; }


.tooltipParset {
  background-color: rgba(0, 0, 0, .90);
  position: absolute;
  padding: 10px;
  color: white;
  border-radius: 10px;
  font-size: 0.875rem;
  width: 100%;
  max-width: 200px;
}


.category text{
  font-size: 0.875rem;
}

text.icicle { pointer-events: none; }

/* END d3.parsets.css */


body{
  font-family: 'Libre Franklin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#viz{
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
  padding: 30px;
}

.vizCont{
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #e6f6fa;
  border-left: 1px solid black;
}

.popover{

}

.popover-header{
  background: black;
  font-weight: 700;
  color: white;
  font-family: 'Zilla Slab', serif;
}

.bs-popover-auto[x-placement^="bottom"] .arrow::after,
.bs-popover-bottom .arrow::after{
  border-bottom-color: black;
}

.popover ol{
  padding-left: 15px;
  margin-bottom: 0px;
}

.zilla{
  font-family: 'Zilla Slab', serif;
}

.zilla a{
  color: black;
}

.zilla a:hover{
  color: black;
}

h1,h2,h3,h4,h5,h6,
.legendTitle{
  font-family: 'Zilla Slab', serif;
  font-weight: 700;
}


.desc{
  max-height: 100%;
  overflow-y: auto;
}

.row-main{
  height: calc(100vh - 60px);
}

.row-footer{
  height: 60px;
  border-top: 1px solid black;
}

.viz-number{
  border-left: 1px solid black;
}
