body{
  font-family: 'Libre Franklin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#viz{
  height: 100%;
  margin-left: -15px;
  margin-right: -15px;
  background-color: #e6f6fa;
  border-left: 1px solid black;
  text-align: center;
  max-height: 100%;
}

.vizCont{
  max-height: 100%;
  overflow: hidden;
}

.popover{

}

.popover-header{
  background: black;
  font-weight: 700;
  color: white;
  font-family: 'Zilla Slab', serif;
}

.bs-popover-auto[x-placement^="bottom"] .arrow::after,
.bs-popover-bottom .arrow::after{
  border-bottom-color: black;
}

.popover ol{
  padding-left: 15px;
  margin-bottom: 0px;
}

.zilla{
  font-family: 'Zilla Slab', serif;
}

.zilla a{
  color: black;
}

.zilla a:hover{
  color: black;
}

h1,h2,h3,h4,h5,h6,
.legendTitle{
  font-family: 'Zilla Slab', serif;
  font-weight: 700;
}

.legendCircle circle{
  fill: none;
  stroke: #ddd;
}

.legendOrbit circle{
  fill: none;
  stroke: #ddd;
}

.desc{
  max-height: 100%;
  overflow-y: auto;
}

.row-main{
  height: calc(100vh - 60px);
}

.row-footer{
  height: 60px;
  border-top: 1px solid black;
}

.viz-number{
  border-left: 1px solid black;
}
